header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px;
    height: 40px;
    padding: 0 43px;

    .titleText {
        color: #FFFF;
        font-size: 20px;
    }
    .icons {
        display: flex;

        
        .deleteItems {
            display: flex;
            color: #666666;

            .deleteIcon {
                margin-right: 24px;
            }

            .svg-c1 {
                fill: #666666;
            }
            .deleteText {
                display: flex;
                align-items: center;
                margin-right: 8px;
            }
        }
        .deleteItems.red {
            color: #e48c8c;

            .svg-c1 {
                fill: #e48c8c;
            }
        }
        .deleteItems.red:hover {
            color: #D95C5C;
            .svg-c1 {
                fill: #D95C5C;
            }
        }
        .cancel {
            display: flex;
            align-items: center;
            color: #FFFF;
            font-size: 16px;
            font-weight: 700;

            .icon {
                font-size: 30px;
                font-weight: 300;
                margin: 0 32px 0 14px ;
            }
        }
    }
}