.commentText .text {
    padding-bottom: 16px;
    white-space: pre-wrap;
}

.likeAndDislike {
    display: flex;
    margin-bottom: 24px;
    height: 32px;
}
@media screen and (min-width: 500px) {
    .likeAndDislike {
        margin-bottom: 39px;
    }
}
@media screen and (min-width: 800px) {
    .likeAndDislike {
        margin-bottom: 32px;
    }
}
@media screen and (min-width: 1920px) {
    .likeAndDislike {
        margin-bottom: 28px;
    }
}
