.not-found {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-top: 80px;
    height: 180px;
}
.no-found-image {
    width: 140px;
    height: 140px;
    margin: 0 auto 16px;

}
.no-found-text {
    text-align: center;
    margin: auto;
    color: #AAAAAA;
    font-size: 14px;
}