.navBar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
    text-decoration: none;
    color: #FFFFFF;
}
.namavaLogo {
    width: 64px;
    height: 32px;
}
.signInBtn {
    display: flex;
    width: 80px;
    height: 42px;
    font-size: 12px;
    font-weight: 700;
    align-items: center;
    justify-content: center;
    background: #FFFFFF33;
    border-radius: 5px;
}
@media screen and (min-width: 800px) {
    .navBar {
        width: 440px;
        margin: auto;
        margin-bottom: 32px;
    }
}
@media screen and (min-width: 1280px) {
    .navBar {
        width: 500px;
    }
    .signInBtn {
        width: 96px;
    }
}@media screen and (min-width: 1920px) {
    .navBar {
        width: 660px;
    }
}
