.search-result {
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    height: 85vh;
    width: 100%;
}
.lottie {
    width: 100%;
}
.lf-player-container {
    width: 33.3%;
    padding: 0 8px;
}

@media screen and (min-width: 1280px) {
    .lf-player-container {
        width: 20%;
    }
}

@media screen and (min-width: 1920px) {
    .lf-player-container {
        width: 14.2%;
    }
}