.logIn {
    display: flex;
    flex-direction: column;
}

.logIn .title {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 18px;
}
.logIn .description {
    font-size: 12px;
    color: #AAAAAA;
    margin-bottom: 28px;
}
.email {
    display: flex;
    flex-direction: column;
}
.emailTitle {
    font-size: 12px;
    margin-bottom: 6px;
}
.emailInput {
    font-size: 12px;
    color: #FFFFFF;
    background: #FFFFFF33;
    border: none;
    border-radius: 5px;
    padding: 16px 12px;
    margin-bottom: 10px;
}
.emailInput:focus-visible {
    outline: none;
}
.password {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    
}
.passwordTitle {
    font-size: 12px;
    margin-bottom: 6px;
}
.passwordContent {
    height: 52px;
    display: flex;
    background: #FFFFFF33;
    border-radius: 5px;
    align-items: center;
    justify-content: space-between;
    padding: 14px 16px;
}
.passwordIcon {
    width: 24px;
    height: 24px;
}
.passwordInput {
    font-size: 12px;
    color: #FFFFFF;
    background: transparent;
    border: none;
    width: 100%;
}
.passwordInput:focus-visible {
    outline: none;
}
.logInBtn {
    font-size: 14px;
    font-weight: 700;
}
.logInBtn {
    display: flex;
    justify-content: center;
    padding: 0 9px;
    font-size: 14px;
    font-weight: 700;
    background: #FFFFFF33;
    border-radius: 5px;
    margin-bottom: 38px;
}
.logInBtnText {
    margin: 9px 0;
}
.logInBtn.active {
    background: #1993FF;
}
.forgotPassword {
    margin: auto;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 43px;
    color: #FFFFFF;
}
.logInWithPhone {
    margin: auto;
    text-decoration: none;
    font-size: 12px;
    margin-bottom: 118px;
    color: #FFFFFF;
}
.lottie {
    width: 42px;
    height: 42px;
}
@media screen and (min-width: 500px) {
    .logIn .title {
        font-size: 16px;
    }
    .forgotPassword {
        font-size: 14px;
        font-weight: 700;
    }
    .logInWithPhone {
        font-size: 14px;
        font-weight: 700;
    }
}
@media screen and (min-width: 800px) {
    .logIn {
        width: 440px;
        margin: auto;
        background: #222327;
        box-shadow: 0px 3px 6px 0px #00000080;
        padding: 40px 40px 79px;
        border-radius: 6px;
    }
}
@media screen and (min-width: 1280px) {
    .logIn {
        width: 500px;
        padding: 36px 70px 70px;
    }
    .logIn .title {
        font-size: 20px;
    }
}@media screen and (min-width: 1920px) {
    .logIn {
        width: 660px;
        padding: 40px 80px 70px;
    }
    .emailTitle {
        font-size: 14px;
    }
    .passwordTitle {
        font-size: 14px;
    }
}

