.filter-box {
    background-color: #37383E;
    color: #FFFFFF;
    height: 112px;
    width: 280px;
    margin-left: 20px;
    padding: 16px 24px 24px;
    display: flex;
    flex-direction: column;
    border-radius: 6px;
}

.filter-title {
    margin-bottom: 20px;
}
.filters {
    display: flex;
}


@media screen and (min-width: 1280px){
    .filter-box {
        width: 307px;
    }
}

@media screen and (min-width: 1920px){
    
}