.app {
    color: #FFFFFF;
    background: radial-gradient(50% 33.71% at 50% 65%, rgba(1, 111, 216, 0.349508) 12.25%, rgba(1, 111, 216, 0.0001) 100%);
}
@media screen and (min-width: 800px) {
    .app {
        background: radial-gradient(50% 33.71% at 50% 65%, rgba(1, 111, 216, 0.349508) 15.25%, rgba(1, 111, 216, 0.0001) 100%);

    }
}